.img1{
  background-image: url(/img/img1.jpg);
}
.img2{
  background-image: url(/img/img2.jpg);
}
.img3{
  background-image: url(/img/img3.jpg);
}
.img4{
  background-image: url(/img/img4.jpg);
}
.img5{
  background-image: url(/img/img5.jpg);
}

.img-container{
  width:80%;
  margin:auto;
  display:flex;
  height:20rem;
  gap:1rem;
}

.img-container div{
  flex:1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  /* cover해도 똑같음. cotain하면 또 색다르다 ㄲㄲ */
  transition: all 1s cubic-bezier(.25,.4,.45,1.4);
}

.img-container > div:hover{
  flex:5;
}





.card{
  margin:auto;
  width:150px;
  height:200px;
  background-image: url(/img/adventure\ time2.jpg);
  background-size:cover;
  border-radius: 10px;
  transform:rotate(20deg) skew(-10deg,-5deg);
  transition: all 1s;
}

.card:hover{
  translate:0 -30px; 
  box-shadow: 5px 3px pink, 10px 6px rgb(255, 212, 255), 15px 9px rgb(253, 148, 201);
}





.menu{
  display:flex;
  gap:1rem;
  justify-content: center;
}

.menu a{
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-weight:900
}

.menu > a::after{
  content:"";
  display:block;
  width:0%;
  margin:0 auto;
  transition: all 1s;
  border-bottom: 3px solid black;
}

.menu > a:hover::after{
  width:100%;
}




.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  top:0;
  /* 코드에는 top:0이 없었는데 적용안하면 위치 이상 */
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
  /* 배경화면 흰색이라 흰색으로 변경 */
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
  /* 클릭했을때 input border색상 변경 */
}
/* :is에 대해서 알게됐다 */





.loader{
  border:4px solid pink;
  border-radius: 50%;
  /* border-left-color:transparent; */
  width:40px;
  height:40px;
  margin:auto;
  /* animation-name: spin;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  liner해야 매끄럽게 돌아감 */
  /* border-right-color:white; */
}

.loader:hover{
  border-left-color:transparent;
  animation-name: spin;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* liner해야 매끄럽게 돌아감 */
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}






.card-rainbow{
  width:200px;
  height:300px;
  background-image:linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card-rainbow2{
  width:100%;
  height:100%;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all 0.2s;
}

.card-rainbow2:hover{
  transform: scale(0.98);
  /* border-radius: 20px; */
}

.card-rainbow:hover{
  box-shadow:0px 0px 30px 3px rgba(0,225,117,0.30);
}




.card-black{
  width:150px;
  height:300px;
  background-color: white;
  box-shadow: 15px 15px 30px #eee, -15px -15px 30px black;
  /* box-shadow를 두번주면서 양쪽 색을 다르게 할 슈 있다 */
  border-radius: 20px;
}





.card-rainbow2-container{
  width:150px;
  height:300px;
  background-image:linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  padding:5px;
  /* 지난번 박스는 밖,안박스 사이즈를 다르게 했다면 이거는 밖 박스에 padding줘서 border처럼 보이게 */
  /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
}

.card-rainbow2-content{
  width:100%;
  height:100%;
  background: black;
  border-radius: 20px;
}