body{
  margin:0px;
}
div{
  box-sizing: border-box;
}



.menu{
  display:flex;
  justify-content: center;
  gap:2rem;
  margin-top:100px;
}

.menu a{
  text-decoration: none;
  color:black;
  font-weight: 900;
  font-size:1.5rem;
}

.menu a::after{
  content: "";
  width:0%;
  margin:0 auto;
  border-bottom: 4px solid black;
  display:block;
  transition: all 0.5s;
}

.menu > a:hover::after{
  width:100%;
}