.input-animation{
  width: 150px;
  transition: width 1s;
}
.input-animation:focus {
  width: 500px;
}



.sidebar {
  width: 150px;
  height: 100vh;
  background: #484bb3;
  position: fixed;
  z-index: 5;
  color : white;
  /* 나중에 줄 최종스타일 */
  transition : all 0.5s;
  transform : translateX(-100px);
  
}
.sidebar div {
  margin : 12px 0px 0px 15px;
}
.content {
  margin-left : 50px;
}

.sidebar:hover {
/*  애니메이션최종화면 */
  transition : all 0.5s;
  transform: translateX(0px);
}

.sidebar i {
  transition: all 0.5s;
  transform: translateX(100px);
}
.sidebar:hover i {
  transform: translateX(0px);
} 


