body{
  margin:0px;
}

div{
  box-sizing: border-box;
}

.sidebar-container{
  position: fixed;
  width:50px;
  height:100%;
  background: rgb(123, 94, 255);
}

.sidebar{
  width:100%;
  height:200px;
  padding:20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar a{
  color: white;
  font-size: 30px;
  margin:auto;
  padding:10px;
}


.content{
  margin-left:50px;
  // width:100%;
  // width를 빼니까 딱 들어맞게 들어간다 ㅠㅠ 후...이것때문에 어찌나 찾아댔는지..;;밑에 col에 float로 width나누면서 줘서 ㄱㅊ은듯
  background: rgb(250, 248, 248);
}



.nav-container{
  width:100%;
  height:50px;
  background: white;
  box-shadow: 0px 5px 10px -1px #eee;
}

.search-box{
  position: relative;
  margin-left:20px;
}

.search-box{
  input{
    width: 100%;
    padding:5px;
    border:1px solid #eee;
    border-radius: 5px;
  }
  .icon{
    position:absolute;
    color:gray;
    top:3px;
    right:15px;
  }
}


@mixin column($뿅){
  float:left;
  width:$뿅;
  height:100%;
}


.row .col-md-3{
  @include column(25%);
  padding:5px;
  text-align:center;
}

.nav-right{
  display:flex;
  justify-content: center;
  text-align: center;
}

.row{
  width:100%;
  height:100%;
}

.row .nav-right{
  align-items: center;
  justify-content: space-between;
  a{
    text-decoration: none;
    color:gray;
  }
  .nav-name{
    color:gray;
    display: inline;
    padding-top:8px;
  }
}




.card-container{
  padding:30px;
}

.card-container h3{
  font-weight: 900;
  margin-bottom:20px;
}

%card{
  width:100%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -1px #eee;
}

.card-1{
  @extend %card;
  border-left: 5px solid rgb(255, 152, 152);
}

.card-2{
  @extend %card;
  border-left: 5px solid rgb(255, 198, 152);
}

.card-3{
  @extend %card;
  border-left: 5px solid rgb(195, 248, 188);
}

.card-4{
  @extend %card;
  border-left: 5px solid rgb(152, 197, 255);
}

.card-text{
  p{
    font-size: 12px;
  }
  h4{
    font-size: 15px;
    font-weight: 900;
  }
}


.row2{
  width:100%;
  padding:10px;
  margin:auto;
}
// 오휴~ 이거 못찾아서 카드 내부 위치 안맞아서 한참 헤맸네..

.row .col-md-8{
  @include column(70%);
  text-align: left;
}

.row .col-md-4{
  @include column(30%);
  text-align: center;
  padding-top:15px;
  font-size: 20px;
}





.chart-container{
  padding:30px;
}

.chart-left{
  width:100%;
  box-shadow: 2px 2px 5px 2px rgb(219, 219, 219);
}

.chart-left h6{
  padding:10px;
  background: rgb(238, 237, 237);
  font-weight: 900;
  border-bottom: 5px solid #eee;
}

.chart-left img{
  width:100%;
  padding:10px;
}




.chart-ul{
  width:100%;
  box-shadow: 2px 2px 5px 2px rgb(219, 219, 219);
}
// ul옆공간 어떻게 없앨까...또 고민해봐야겠따

.chart-ul li{
  list-style: none;
  padding:1px;
  width:100%;
  border:1px solid #eee;
  text-align: left;
}