body{
  margin:0px;
}

div{
  box-sizing: border-box;
}


.sh-list {
  li{
    width:50%;
    list-style: none;
    padding:15px;
    // padding을 줘야 안에 넓어지는..바보같이 이걸 놓치고 있었다니
    border: 1px solid #eee;
  }
  .active{
    background: skyblue;
    color:white;
  }
  :hover{
    background: pink;
    color:white;
    font-size:20px;
  }
}




%alert-box{
  padding:10px;
  border: 1px solid #eee;
  border-radius: 15px;
  color:white;
}

.box-green{
  @extend %alert-box;
  background: green;
}

.box-yellow{
  @extend %alert-box;
  background: orange;
}

.box-blue{
  @extend %alert-box;
  background: skyblue;
}

@mixin column($뿅){
  float:left;
  width:$뿅;
  padding:15px;
  border: 1px solid #eee;
}

// .row .col-6{
//   float:left;
//   width:50%;
//   // 안먹으면 div box-sizing: border;주기
//   padding:15px;
// }

// .row .col-4{
//   float:left;
//   width:33.33%;
//   padding:15px;
// }

.row .col-6{
  @include column(50%);
}

.row .col-4{
  @include column(33.33%)
}






@media screen and (min-width:768px){
  .col-md-3{
    @include column(25%);
  }
}
// 후..이게 맞는지 ! 모르겠지만 잘 작동하는 것을 보니 맞는듯!!
// min-width를 줘서 768px이상에서는 미디어쿼리 적용되게 했고
// 실제로 그렇게 동작하니! bootstrap처럼 잘 작동하는듯!!!오호!!!